.container-login{
    min-width: 700px;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: calc(100vh - 40px);
}
.mainPageLogin {
    background-image: url('https://img.pikbest.com/backgrounds/20220119/sports-fitness-running-background_6242983.jpg');
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 40px);
}
